@import './constants';
.checkoutPage{
    &__products{
        &__title{
            background: $dark_blue_color;
            color: #fff;
            padding: 15px 10px;
        }
    }
    &__checkout {
        background: $dark_blue_color;
        color: #fff;
        &h3{
            text-align: center;
        }
        &__price{
            font-size: $size-large;
            text-transform: uppercase;
            border-bottom: $dark_silver_color 1px dashed;
            &__value {
                float: right;
            }
        }
    }
}